
<input hidden id="idCliente" value="0" />

<div id="" class="container-fluid">
    @* Datos generales *@
    <div class="row">
        <div class="col-md-12">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Datos Generales</h3>
                    <div class="card-tools">
                        <button class="btn btn-tool" type="button" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="NOMBRE">Nombre:</label>
                        <input type="text" id="NOMBRE" placeholder="Nombre Empresa SA de CV" class="form-control" />
                    </div>
                    <div class="row">
                        <div class="col form-group">
                            <label for="DIRECCION">Direccion:</label>
                            <input type="text" id="DIRECCION" placeholder="Calle Nombre" class="form-control" />
                        </div>
                        <div class="col form-group">
                            <label for="ClieNumInt">Número Interior:</label>
                            <input type="text" id="ClieNumInt" placeholder="Local A" class="form-control" />
                        </div>
                        <div class="col form-group">
                            <label for="ClieNumInt">Número Exterior:</label>
                            <input type="text" id="ClieNumExt" placeholder="4556" class="form-control" />
                        </div>
                        <div class="col form-group">
                            <label>CliColonia</label>
                            <input type="text" id="CliColonia" value="" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col form-group">
                            <label for="PaisID">País:</label>
                            <select id="PaisID" class="form-control">
                                <option value="">Seleccionar</option>
                                @foreach (Paises item in ViewBag.lpai)
                                {
                                    <option value="@item.PaisIDSAIIM3">@item.PaisNombre</option>
                                }
                            </select>
                        </div>
                        <div class="col form-group">
                            <label for="EstID">Estado:</label>
                            <select id="EstID" class="form-control">
                                <option value="">Seleccionar</option>
                                @foreach (Estados item in ViewBag.lest)
                                {
                                    <option value="@item.EstID">@item.EstNombre</option>
                                }
                            </select>
                        </div>
                        <div class="col form-group">
                            <label for="CIUDAD">Ciudad:</label>
                            <input type="text" id="CIUDAD" placeholder="Ciudad Nombre" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col form-group">
                            <label for="CliCodPost">CP:</label>
                            <input type="text" id="CliCodPost" placeholder="00000" class="form-control" />
                        </div>
                        <div class="col form-group">
                            <label for="CliRFC">RFC:</label>
                            <input type="text" id="CliRFC" placeholder="XAXX010101000" class="form-control" />
                        </div>
                        <div class="col form-group">
                            <label for="CliSSN">SSN:</label>
                            <input type="text" id="CliSSN" placeholder="00000000000" class="form-control" />
                        </div>
                        <div class="col form-group">
                            <label for="CliIRS">IRS:</label>
                            <input type="text" id="CliIRS" class="form-control" />
                        </div>
                        <div class="col form-group">
                            <label for="CURP">CURP</label>
                            <input type="text" id="CURP" value="" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col form-group">
                            <label for="TELEFONO">Teléfono:</label>
                            <div class="input-group">
                                <input type="text" id="TELEFONO" placeholder="(___) ___-____" class="form-control" data-inputmask='"mask": "(999) 999-9999"' data-mask />
                            </div>
                        </div>
                        <div class="col form-group">
                            <label for="Telefono2">Teléfono 2:</label>
                            <div class="input-group">
                                <input type="text" id="Telefono2" placeholder="(___) ___-____" class="form-control" data-inputmask='"mask": "(999) 999-9999"' data-mask />
                            </div>
                        </div>
                        <div class="col form-group">
                            <label for="URL">URL:</label>
                            <input type="text" id="URL" placeholder="www.midomino.com" class="form-control" />
                        </div>
                        <div class="col form-group">
                            <label for="FAX">FAX:</label>
                            <input type="text" id="FAX" placeholder="(___) ___-____" class="form-control" data-inputmask='"mask": "(999) 999-9999"' data-mask />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col form-group">
                            <label for="AgrupCliCtaMex">AgrupCliCtaMex</label>
                            <input type="text" id="AgrupCliCtaMex" value="" class="form-control" />
                        </div>
                        <div class="col form-group">
                            <label for="AgrupCliCtaAm">AgrupCliCtaAm</label>
                            <input type="text" id="AgrupCliCtaAm" value="" class="form-control" />
                        </div>
                        <div class="col form-group">
                            <label for="AltaPor">AltaPor</label>
                            <input type="text" id="AltaPor" value="" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @* Otros datos *@
    <div id="otrosdatos" class="row">
        <div class="col-md-12">
            <div class="card card-primary collapsed-card">
                <div class="card-header">
                    <h3 class="card-title">Otros datos</h3>
                    <div class="card-tools">
                        <button class="btn btn-tool" type="button" data-card-widget="collapse">
                            <i class="fas fa-plus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body collapse">
                    <div class="row">
                        <div class="col form-group">
                            <label for="CliDesde">Cliente desde:</label>
                            <input type="text" id="CliDesde" class="datep form-control" />
                        </div>
                        <div class="col form-group">
                            <label for="CliManejosEx">CliManejosEx:</label>
                            <input type="text" id="CliManejosEx" placeholder="0" class="number form-control" />
                        </div>
                        <div class="col form-group">
                            <label for="CliServCompEx">CliServCompEx:</label>
                            <input type="text" id="CliServCompEx" placeholder="0" class="number form-control" />
                        </div>
                        <div class="col form-group">
                            <label for="CliServCompIm">CliServCompIm:</label>
                            <input type="text" id="CliServCompIm" placeholder="0" class="number form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col form-group">
                            <label for="CliHandlingIm">CliHandlingIm:</label>
                            <input type="text" id="CliHandlingIm" placeholder="0" class="form-control" />
                        </div>
                        <div class="col form-group">
                            <label for="CliAcumTransAñoP">CliAcumTransAñoP:</label>
                            <input type="text" id="CliAcumTransAñoP" placeholder="0" class="number form-control" />
                        </div>
                        <div class="col form-group">
                            <label for="CliAcumTransAñoD">CliAcumTransAñoD:</label>
                            <input type="text" id="CliAcumTransAñoD" placeholder="0" class="number form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col form-group">
                            <label for="CliAcumPesos">CliAcumPesos:</label>
                            <input type="text" id="CliAcumPesos" placeholder="$ 0.00" class="money form-control text-right" />
                        </div>
                        <div class="col form-group">
                            <label for="CliAcumDolar">CliAcumDolar:</label>
                            <input type="text" id="CliAcumDolar" placeholder="$ 0.00" class="money form-control text-right" />
                        </div>
                        <div class="col form-group">
                            <label for="CliPagaPesos">CliPagaPesos:</label>
                            <input type="text" id="CliPagaPesos" placeholder="$ 0.00" class="money form-control text-right" />
                        </div>
                        <div class="col form-group">
                            <label for="CliPagaDolar">CliPagaDolar:</label>
                            <input type="text" id="CliPagaDolar" placeholder="$ 0.00" class="money form-control text-right" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label for="CliTotTrans">CliTotTrans:</label>
                            <input type="number" id="CliTotTrans" placeholder="0" class="number form-control" />
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    @* Mas datos *@
    <div class="row">
        <div class="col-md-12">
            <div class="card card-primary collapsed-card">
                <div class="card-header">
                    <h3 class="card-title">Texto</h3>
                    <div class="card-tools">
                        <button class="btn btn-tool" type="button" data-card-widget="collapse">
                            <i class="fas fa-plus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body collapse">
                    <div class="row">
                        <div class="col form-group">
                            <label for="TabID">TabID:</label>
                            <input type="number" id="TabID" placeholder="0.00" class="number form-control" />
                        </div>
                        <div class="col form-group">
                            <label for="TabIDImp">TabIDImp:</label>
                            <input type="number" id="TabIDImp" placeholder="0.00" class="number form-control" />
                        </div>
                        <div class="col form-group">
                            <label for="TabIDCtaAm">TabIDCtaAm:</label>
                            <input type="number" id="TabIDCtaAm" placeholder="0.00" class="number form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col form-group">
                            <label for="TipPtoID">TipPtoID:</label>
                            <input type="text" id="TipPtoID" placeholder="" class="form-control" />
                        </div>
                        <div class="col form-group">
                            <label for="TipPtoID1">TipPtoID1:</label>
                            <input type="text" id="TipPtoID1" placeholder="" class="form-control" />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col form-group">
                            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                <input type="checkbox" id="CliRelAABCli" class="custom-control-input" />
                                <label class="custom-control-label" for="CliRelAABCli">CliRelAABCli</label>
                            </div>
                        </div>
                        <div class="col form-group">
                            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                <input type="checkbox" id="CliRelAABPro" class="custom-control-input" />
                                <label class="custom-control-label" for="CliRelAABPro">CliRelAABPro</label>
                            </div>
                        </div>
                        <div class="col form-group">
                            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                <input type="checkbox" id="CliRelAABPag" class="custom-control-input" />
                                <label class="custom-control-label" for="CliRelAABPag">CliRelAABPag</label>
                            </div>
                        </div>
                        <div class="col form-group">
                            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                <input type="checkbox" id="CliRelAABDes" class="custom-control-input" />
                                <label class="custom-control-label" for="CliRelAABDes">CliRelAABDes</label>
                            </div>
                        </div>
                        <div class="col form-group">
                            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                <input type="checkbox" id="CliManejosEsp" class="custom-control-input" />
                                <label class="custom-control-label" for="CliManejosEsp">CliManejosEsp</label>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col form-group">
                            <label for="CliFactA">CliFactA:</label>
                            <input type="text" id="CliFactA" placeholder="" class="form-control" />
                        </div>
                        <div class="col form-group">
                            <label for="CliViaMensajes">CliViaMensajes:</label>
                            <input type="text" id="CliViaMensajes" placeholder="0" class="number form-control" />
                        </div>
                        <div class="col form-group">
                            <label for="CliFacDescuento">CliFacDescuento:</label>
                            <input type="number" id="CliFacDescuento" placeholder="0.0" class="number form-control" />
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    @* datos *@
    <div class="row">
        <div class="col-md-12">
            <div class="card card-primary collapsed-card">
                <div class="card-header">
                    <h3 class="card-title">Texto</h3>
                    <div class="card-tools">
                        <button class="btn btn-tool" type="button" data-card-widget="collapse">
                            <i class="fas fa-plus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body collapse">
                    <div class="row">
                        <div class="col form-group">
                            <label for="CliFactHonorarios">CliFactHonorarios:</label>
                            <input type="number" id="CliFactHonorarios" placeholder="0.0" class="number form-control" />
                        </div>
                        <div class="col form-group">
                            <label for="CliFactHonorariosImp">CliFactHonorariosImp:</label>
                            <input type="number" id="CliFactHonorariosImp" placeholder="0.0" class="number form-control" />
                        </div>
                        <div class="col form-group">
                            <label for="RegOrigId">RegOrigId:</label>
                            <input type="text" id="RegOrigId" placeholder="" class="form-control" />
                        </div>
                        <div class="col form-group">
                            <label for="MetValID">MetValID</label>
                            <input type="text" id="MetValID" placeholder="" class="form-control" />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col form-group">
                            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                <input type="checkbox" id="CliPITEX" class="custom-control-input" />
                                <label class="custom-control-label" for="CliPITEX">CliPITEX</label>
                            </div>
                        </div>
                        <div class="col form-group">
                            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                <input type="checkbox" id="CliMaquiladora" class="custom-control-input" />
                                <label class="custom-control-label" for="CliMaquiladora">CliMaquiladora</label>
                            </div>
                        </div>
                        <div class="col form-group">
                            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                <input type="checkbox" id="CliEnvaMatriz" class="custom-control-input" />
                                <label class="custom-control-label" for="CliEnvaMatriz">CliEnvaMatriz</label>
                            </div>
                        </div>
                        <div class="col form-group">
                            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                <input type="checkbox" id="CliRegla8a" class="custom-control-input" />
                                <label class="custom-control-label" for="CliRegla8a">CliRegla8a</label>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col form-group">
                            <label for="CliPasswordInternet">CliPasswordInternet</label>
                            <input type="text" id="CliPasswordInternet" value="" class="form-control" />
                        </div>
                        <div class="col form-group">
                            <label for="CliFraccionR8a">CliFraccionR8a</label>
                            <input type="text" id="CliFraccionR8a" value="" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @* y más datos *@
    <div class="row">
        <div class="col-md-12">
            <div class="card card-primary collapsed-card">
                <div class="card-header">
                    <h3 class="card-title">Texto</h3>
                    <div class="card-tools">
                        <button class="btn btn-tool" type="button" data-card-widget="collapse">
                            <i class="fas fa-plus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body collapse">
                    <div class="row">
                        <div class="col form-group">
                            <label form="CliEsquina">CliEsquina:</label>
                            <input type="text" id="CliEsquina" value="" class="form-control" />
                        </div>
                        <div class="col form-group">
                            <label for="CliSector">CliSector:</label>
                            <input type="number" id="CliSector" placeholder="0" class="number form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col form-group">
                            <label for="ImpAraID">ImpAraID:</label>
                            <input type="text" id="ImpAraID" value="" class="form-control" />
                        </div>
                        <div class="col form-group">
                            <label for="IDProSec">IDProSec:</label>
                            <input type="text" id="IDProSec" value="" class="form-control" />
                        </div>
                        <div class="col form-group">
                            <label for="NumClienteTFM">NumClienteTFM:</label>
                            <input type="text" id="NumClienteTFM" value="" class="form-control" />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col form-group">
                            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                <input type="checkbox" id="ActaConstitutiva" class="custom-control-input" />
                                <label class="custom-control-label" for="ActaConstitutiva">ActaConstitutiva</label>
                            </div>
                        </div>
                        <div class="col form-group">
                            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                <input type="checkbox" id="CIF" class="custom-control-input" />
                                <label class="custom-control-label" for="CIF">CIF</label>
                            </div>
                        </div>
                        <div class="col form-group">
                            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                <input type="checkbox" id="R1-SHCP" class="custom-control-input" />
                                <label class="custom-control-label" for="R1-SHCP">R1-SHCP</label>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col form-group">
                            <label for="AgrupCliFede">AgrupCliFede:</label>
                            <input type="text" id="AgrupCliFede" value="" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col form-group">
                            <label for="FHAltaPor">FHAltaPor:</label>
                            <input type="text" id="FHAltaPor" value="" class="datep form-control" />
                        </div>
                        <div class="col form-group">
                            <label for="Actualizo">Actualizo:</label>
                            <input type="text" id="Actualizo" value="" class="form-control" />
                        </div>
                        <div class="col form-group">
                            <label for="FHActualizo">FHActualizo:</label>
                            <input type="text" id="FHActualizo" value="" class="datep form-control" />
                        </div>
                        <div class="col form-group">
                            <label for="NombreCorto">NombreCorto:</label>
                            <input type="text" id="NombreCorto" value="" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col form-group">
                            <label for="CliObs">CliObs</label>
                            <textarea id="CliObs" class="form-control" placeholder="Observaciones sobre el cliente"></textarea>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col form-group">
                            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                <input type="checkbox" id="ActivarPS" class="custom-control-input" />
                                <label class="custom-control-label" for="ActivarPS">ActivarPS</label>
                            </div>
                        </div>
                        <div class="col form-group">
                            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                <input type="checkbox" id="ActivarR8va" class="custom-control-input" />
                                <label class="custom-control-label" for="ActivarR8va">ActivarR8va</label>
                            </div>
                        </div>
                        <div class="col form-group">
                            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                <input type="checkbox" id="CliActivo" class="custom-control-input" />
                                <label class="custom-control-label" for="CliActivo">CliActivo</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-block btn-dark btn-lg" type="submit" id="btnGuardaCli">Guardar</button>
        </div>
    </div>
</div>
<script src="~/popperjs/core/dist/umd/popper.min.js"></script>
<script src="~/tippy.js/dist/tippy-bundle.umd.js"></script>
<link href="~/tippy.js/animations/shift-away.css" rel="stylesheet" />

<link href="~/tippy.js/animations/scale.css" rel="stylesheet" />
<link href="~/tippy.js/dist/tippy.css" rel="stylesheet" />

@*<script src="~/plugins/inputmask/inputmask.min.js"></script>*@
<script src="~/plugins/inputmask/jquery.inputmask.min.js"></script>
<script src="~/plugins/moment/moment.min.js"></script>

<!--INSERTAR CLIENTE-->
<script>
    $(document).ready(function () {

        $('.loader').hide();
        $('#container').show();

        $('.datep').datepicker({
            changeMonth: true,
            changeYear: true,
            format: "yyyy-mm-dd",
            language: "es"
        });
        $('#txtTelefono').inputmask();
        $('#txtTelefono2').inputmask();
        $('#txtFAX').inputmask();
        $(".money").inputmask({ alias: "currency", prefix: '$ ' });
    });

    $('#ddlPais').on('change', function() {
        var Paisid = $("#ddlPais option:selected").val();
        //const data = new FormData();
        //$('#ddlEstado').append(optionhtml).selectpicker('refresh');

        $.ajax({
            type: "POST",
            url: '@Url.Action("LlenaEstados", "Clientes")',
            data: { Paisid: Paisid },
            dataType: "json",
            success: function (data) {
                if (data.error) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Hubo un problema',
                        text: response.message,
                        footer: '<br> Si el problema persiste, comuníquese a sistemas@zayro.com junto con la pantalla de error.'
                    });
                }
                else {
                    $("#ddlEstado").empty();
                    $.each(data, function (val, text) {
                        $('#ddlEstado').append($('<option>', {
                            value: text.EstID,
                            text: text.EstNombre
                        }));
                    });
                }
            },
            error: function () {
                alert(message);
            }
        });
    });

    $('#btnGuardaCli').click(function (e) {
        e.preventDefault();
        debugger;
        //#region Datos generales
        var Nombre = $("input[id='NOMBRE']").val().trim();
        var Direccion = $("input[id='DIRECCION']").val().trim();
        var NumInt = $("input[id='ClieNumInt']").val().trim();
        var NumExt = $("input[id='ClieNumExt']").val().trim();
        var Ciudad = $("input[id='CIUDAD']").val().trim();
        var Estado = $("#EstID option:selected").val();
        var Pais = $("#PaisID option:selected").val();
        var CP = $("input[id='CliCodPost']").val().trim();
        var RFC = $("input[id='CliRFC']").val().trim();
        var SSN = $("input[id='CliSSN']").val().trim();
        var IRS = $("input[id='CliIRS']").val().trim();
        var Telefono = $("input[id='TELEFONO']").val().trim();
        var Telefono2 = $("input[id='Telefono2']").val().trim();
        var URL = $("input[id='URL']").val().trim();
        var FAX = $("input[id='FAX']").val().trim();
        //#endregion

        //#region Otros datos
        var CliDesde = $("input[id='CliDesde']").val().trim();
        var CliManejosEx = $("input[id='CliManejosEx']").val().trim();
        var CliServCompEx = $("input[id='CliServCompEx']").val().trim();
        var CliServCompIm = $("input[id='CliServCompIm']").val().trim();
        var CliHandlingIm = $("input[id='CliHandlingIm']").val().trim();
        var CliAcumTransAñoP = $("input[id='CliAcumTransAñoP']").val().trim();
        var CliAcumTransAñoD = $("input[id='CliAcumTransAñoD']").val().trim();
        var acumpe = $("input[id='CliAcumPesos']").val();
        var CliAcumPesos = Number(acumpe.replace(/[^0-9.-]+/g, ""));
        var acumdo = $("input[id='CliAcumDolar']").val();
        var CliAcumDolar = Number(acumdo.replace(/[^0-9.-]+/g, ""));
        var pagape = $("input[id='CliPagaPesos']").val();
        var CliPagaPesos = Number(pagape.replace(/[^0-9.-]+/g, ""));
        var pagado = $("input[id='CliPagaDolar']").val();
        var CliPagaDolar = Number(pagado.replace(/[^0-9.-]+/g, ""));
        var CliTotTrans = $("input[id='CliTotTrans']").val().trim();
        //#endregion

        //#region Mas datos
        var TabID = $("input[id='TabID']").val().trim();
        var TabIDImp = $("input[id='TabIDImp']").val().trim();
        var TabIDCtaAm = $("input[id='TabIDCtaAm']").val().trim();
        var TipPtoID = $("input[id='TipPtoID']").val().trim();
        var TipPtoID1 = $("input[id='TipPtoID1']").val().trim();
        var CliRelAABCli = $("#CliRelAABCli").attr("checked") ? 1 : 0;
        var CliRelAAPro = $("#CliRelAABPro").attr("checked") ? 1 : 0;
        var CliRelAABPag = $("#CliRelAABPag").attr("checked") ? 1 : 0;
        var CliRelAABDes = $("#CliRelAABDes").attr("checked") ? 1 : 0;
        var CliManejosEsp = $("#CliManejosEsp").attr("checked") ? 1 : 0;
        var CliFactA = $("input[id='CliFactA']").val().trim();
        var CliViaMensajes = $("input[id='CliViaMensajes']").val().trim();
        var CliFacDescuento = $("input[id='CliFacDescuento']").val().trim();

        var CliFactHonorarios = $("input[id='CliFactHonorarios']").val().trim();
        var CliFactHonorariosImp = $("input[id='CliFactHonorariosImp']").val().trim();
        var RegOrigId = $("input[id='RegOrigId']").val().trim();
        var MetValID = $("input[id='MetValID']").val().trim();
        var CliPITEX = $("#CliPITEX").attr("checked") ? 1 : 0;
        var CliMaquiladora = $("#CliMaquiladora").attr("checked") ? 1 : 0;
        var CliEnvaMatriz = $("#CliEnvaMatriz").attr("checked") ? 1 : 0;
        var CliRegla8a = $("#CliRegla8a").attr("checked") ? 1 : 0;
        var CliPasswordInternet = $("input[id='CliPasswordInternet']").val().trim();
        var CliFraccionR8a = $("input[id='CliFraccionR8a']").val().trim();
        //#endregion

        //#region y mas datos
        var CliColonia = $("input[id='CliColonia']").val().trim();
        var CliEsquina = $("input[id='CliEsquina']").val().trim();
        var CliSector = $("input[id='CliSector']").val().trim();
        var ImpAraID = $("input[id='ImpAraID']").val().trim();
        var IDProSec = $("input[id='IDProSec']").val().trim();
        var NumClienteTFM = $("input[id='NumClienteTFM']").val().trim();
        var ActaConstitutiva = $("#ActaConstitutiva").attr("checked") ? 1 : 0;
        var CIF = $("input[id='CIF']").val().trim();
        var R1SHCP = $("input[id='R1-SHCP']").val().trim();
        var CURP = $("input[id='CURP']").val().trim();
        var AgrupCliCtaMex = $("input[id='AgrupCliCtaMex']").val().trim();
        var AgrupCliCtaAm = $("input[id='AgrupCliCtaAm']").val().trim();
        var AgrupCliFede = $("input[id='AgrupCliFede']").val().trim();
        var AltaPor = $("input[id='AltaPor']").val().trim();
        var FHAltaPor = $("input[id='FHAltaPor']").val().trim();
        var CliObs = $("#CliObs").val().trim();
        var Actualizo = $("input[id='Actualizo']").val().trim();
        var FHActualizo = $("input[id='FHActualizo']").val().trim();
        var NombreCorto = $("input[id='NombreCorto']").val().trim();
        var ActivarPS = $("#ActivarPS").attr("checked") ? 1 : 0;
        var ActivarR8va = $("#ActivarR8va").attr("checked") ? 1 : 0;
        var CliActivo = $("#CliActivo").attr("checked") ? 1 : 0;
        //#endregion

        const data = new FormData();

        //#region Datos generales
        data.append("NOMBRE", Nombre);
        data.append("DIRECCION", Direccion);
        data.append("ClieNumInt", NumInt);
        data.append("ClieNumExt", NumExt);
        data.append("CIUDAD", Ciudad);
        data.append("EstID", Estado);
        data.append("PaisID", Pais);
        data.append("CliCodPost", CP);
        data.append("CliRFC", RFC);
        data.append("CliSSN", SSN);
        data.append("CliIRS", IRS);
        data.append("TELEFONO", Telefono);
        data.append("Telefono2", Telefono2);
        data.append("URL", URL);
        data.append("FAX", FAX);
        //#endregion

        //#region Otros datos
        data.append("CliDesde", CliDesde);
        data.append("CliManejosEx", CliManejosEx);
        data.append("CliServCompEx", CliServCompEx);
        data.append("CliServCompIm", CliServCompIm);
        data.append("CliHandlingIm", CliHandlingIm);
        data.append("CliAcumTransAñoP", CliAcumTransAñoP);
        data.append("CliAcumTransAñoD", CliAcumTransAñoD);
        data.append("CliAcumPesos", CliAcumPesos);
        data.append("CliAcumDolar", CliAcumDolar);
        data.append("CliPagaPesos", CliPagaPesos);
        data.append("CliPagaDolar", CliPagaDolar);
        data.append("CliTotTrans", CliTotTrans);
        //#endregion

        //#region datos
        data.append("TabID", TabID);
        data.append("TabIDImp", TabIDImp);
        data.append("TabIDCtaAm", TabIDCtaAm);
        data.append("TipPtoID", TipPtoID);
        data.append("TipPtoID1", TipPtoID1);
        data.append("CliRelAABCli", CliRelAABCli);
        data.append("CliRelAABPro", CliRelAAPro);
        data.append("CliRelAABPag", CliRelAABPag);
        data.append("CliRelAABDes", CliRelAABDes);
        data.append("CliFactA", CliFactA);
        data.append("CliViaMensajes", CliViaMensajes);
        data.append("CliFacDescuento", CliFacDescuento);
        data.append("CliManejosEsp", CliManejosEsp);
        data.append("CliFactHonorarios", CliFactHonorarios);
        data.append("CliFactHonorariosImp", CliFactHonorariosImp);
        data.append("RegOrigId", RegOrigId);
        data.append("MetValID", MetValID);
        data.append("CliPITEX", CliPITEX);
        data.append("CliMaquiladora", CliMaquiladora);
        data.append("CliPasswordInternet", CliPasswordInternet);
        data.append("CliEnvaMatriz", CliEnvaMatriz);
        data.append("CliRegla8a", CliRegla8a);
        data.append("CliFraccionR8a", CliFraccionR8a);
        //#endregion

        //#region y más datos
        data.append("CliColonia", CliColonia);
        data.append("CliEsquina", CliEsquina);
        data.append("CliSector", CliSector);
        data.append("ImpAraID", ImpAraID);
        data.append("IDProSec", IDProSec);
        data.append("NumClienteTFM", NumClienteTFM);
        data.append("ActaConstitutiva", ActaConstitutiva);
        data.append("CIF", CIF);
        data.append("CURP", CURP);
        data.append("R1-SHCP", R1SHCP);
        data.append("AgrupCliCtaMex", AgrupCliCtaMex);
        data.append("AgrupCliCtaAm", AgrupCliCtaAm);
        data.append("AgrupCliFede", AgrupCliFede);
        data.append("AltaPor", AltaPor);
        data.append("FHAltaPor", FHAltaPor);
        data.append("CliObs", CliObs);
        data.append("Actualizo", Actualizo);
        data.append("FHActualizo", FHActualizo);
        data.append("NombreCorto", NombreCorto);
        data.append("ActivarPS", ActivarPS);
        data.append("ActivarR8va", ActivarR8va);
        data.append("CliActivo", CliActivo);
        //#endregion

        //Cliente ID
        var clienteID = $('#idCliente').val()

        if (clienteID == 0) {

            $.ajax({
                url: "@Url.Action("ClienteInserta", "Clientes")", // Url
                type: "Post",  // Verbo HTTP
                data: data,
                // Si vas a utilizar “formData” para crear el objeto que enviaras, es muy importante incluir estos
                processData: false, contentType: false,
                success: function (response) {
                    if (response.error) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Hubo un problema',
                            text: response.message,
                            footer: '<br> Si el problema persiste, comuníquese a sistemas@zayro.com junto con la pantalla de error.'
                        });
                    }
                    else {
                        Swal.fire({
                            title: '¡Cliente listo!',
                            confirmButtonText: 'Excelente',
                        }).then((result) => {
                            //Esto redirecciona a una vista diferente
                        @*window.location.href = '@Url.Action("ClienteAlta", "Dashboard")';*@
                        });
                    }
                }
            });

        }
        else {

            data.append("CLIENTE", clienteID);

            $.ajax({
                url: "@Url.Action("ClienteModifica", "Clientes")", // Url
                type: "Post",  // Verbo HTTP
                data: data,
                // Si vas a utilizar “formData” para crear el objeto que enviaras, es muy importante incluir estos
                processData: false, contentType: false,
                success: function (response) {
                    if (response.error) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Hubo un problema',
                            text: response.message,
                            footer: '<br> Si el problema persiste, comuníquese a sistemas@zayro.com junto con la pantalla de error.'
                        });
                    }
                    else {
                        Swal.fire({
                            title: '¡Cliente en listo!',
                            confirmButtonText: 'Excelente',
                        }).then((result) => {
                            //Esto redirecciona a una vista diferente
                        @*window.location.href = '@Url.Action("ClienteAlta", "Dashboard")';*@
                        });
                    }
                }
            });
        }

    });

</script>

<!--CARGAR CLIENTE-->
@if (ViewBag.cliente != null)
{
    <script>
        var tipo = '@Session["tipo"]';

        // Limita a los usuarios de solo Lectura
        if (tipo == 'O') {

            $(".form-control").prop('disabled', true);
            $(".custom-control-input").prop('disabled', true);
            $("#btnGuardaCli").prop('disabled', true);

            //#region comentarios
            ////#region Datos generales
            //$("input[id='txtNombre']").prop('disabled', true);
            //$("input[id='txtNombre']").prop('disabled', true);
            //$("input[id='txtDireccion']").prop('disabled', true);
            //$("input[id='txtNumInt']").prop('disabled', true);
            //$("input[id='txtNumExt']").prop('disabled', true);
            //$("input[id='txtCiudad']").prop('disabled', true);
            //$("#ddlEstado").prop('disabled', 'disabled');
            //$("#ddlPais").prop('disabled', 'disabled');
            //$("input[id='txtCP']").prop('disabled', true);
            //$("input[id='txtRFC']").prop('disabled', true);
            //$("input[id='txtSSN']").prop('disabled', true);
            //$("input[id='txtIRS']").prop('disabled', true);
            //$("input[id='txtTelefono']").prop('disabled', true);
            //$("input[id='txtTelefono2']").prop('disabled', true);
            //$("input[id='txtURL']").prop('disabled', true);
            //$("input[id='txtFAX']").prop('disabled', true);
            ////#endregion

            ////#region Otros datos
            //$("input[id='txtCliDesde']").prop('disabled', true);
            //$("input[id='txtCliManejosEx']").prop('disabled', true);
            //$("input[id='txtCliServCompEx']").prop('disabled', true);
            //$("input[id='txtCliServCompIm']").prop('disabled', true);
            //$("input[id='txtCliHandlingIm']").prop('disabled', true);
            //$("input[id='txtCliAcumTransAñoP']").prop('disabled', true);
            //$("input[id='txtCliAcumTransAñoD']").prop('disabled', true);
            //$("input[id='txtCliAcumPesos']").prop('disabled', true);
            //$("input[id='txtCliAcumDolar']").prop('disabled', true);
            //$("input[id='txtCliPagaPesos']").prop('disabled', true);
            //$("input[id='txtCliPagaDolar']").prop('disabled', true);
            //$("input[id='txtCliTotTrans']").prop('disabled', true);
            ////#endregion

            ////#region Mas datos
            //$("input[id='txtTabID']").prop('disabled', true);
            //$("input[id='txtTabIDImp']").prop('disabled', true);
            //$("input[id='txtTabIDCtaAm']").prop('disabled', true);
            //$("input[id='txtTipPtoID']").prop('disabled', true);
            //$("input[id='txtTipPtoID1']").prop('disabled', true);
            //$("#chbCliRelAABCli").prop('disabled', true);
            //$("#chbCliRelAABPro").prop('disabled', true);
            //$("#chbCliRelAABPag").prop('disabled', true);
            //$("#chbCliRelAABDes").prop('disabled', true);
            //$("#chbCliManejosEsp").prop('disabled', true);
            //$("input[id='txtCliFactA']").prop('disabled', true);
            //$("input[id='txtCliViaMensajes']").prop('disabled', true);
            //$("input[id='txtCliFacDescuento']").prop('disabled', true);

            //$("input[id='txtCliFactHonorarios']").prop('disabled', true);
            //$("input[id='txtCliFactHonorariosImp']").prop('disabled', true);
            //$("input[id='txtRegOrigId']").prop('disabled', true);
            //$("input[id='txtMetValID']").prop('disabled', true);
            //$("#chbCliPITEX").prop('disabled', true);
            //$("#chbCliMaquiladora").prop('disabled', true);
            //$("#chbCliEnvaMatriz").prop('disabled', true);
            //$("#chbCliRegla8a").prop('disabled', true);
            //$("input[id='txtCliPasswordInternet']").prop('disabled', true);
            //$("input[id='txtCliFraccionR8a']").prop('disabled', true);
            ////#endregion

            ////#region y mas datos
            //$("input[id='txtCliColonia']").prop('disabled', true);
            //$("input[id='txtCliEsquina']").prop('disabled', true);
            //$("input[id='txtCliSector']").prop('disabled', true);
            //$("input[id='txtImpAraID']").prop('disabled', true);
            //$("input[id='txtIDProSec']").prop('disabled', true);
            //$("input[id='txtNumClienteTFM']").prop('disabled', true);
            //$("#chbActaConstitutiva").prop('disabled', true);
            //$("input[id='chbCIF']").prop('disabled', true);
            //$("input[id='chbR1-SHCP']").prop('disabled', true);
            //$("input[id='txtCURP']").prop('disabled', true);
            //$("input[id='txtAgrupCliCtaMex']").prop('disabled', true);
            //$("input[id='txtAgrupCliCtaAm']").prop('disabled', true);
            //$("input[id='txtAgrupCliFede']").prop('disabled', true);
            //$("input[id='txtAltaPor']").prop('disabled', true);
            //$("input[id='txtFHAltaPor']").prop('disabled', true);
            //$("#txtCliObs").prop('disabled', true);
            //$("input[id='txtActualizo']").prop('disabled', true);
            //$("input[id='txtFHActualizo']").prop('disabled', true);
            //$("input[id='txtNombreCorto']").prop('disabled', true);
            //$("#chbActivarPS").prop('disabled', true);
            //$("#chbActivarR8va").prop('disabled', true);
            //$("input[id='chbCliActivo']").prop('disabled', true);
            ////#endregion
            //#endregion
        }

        //aqui hay que traer la informacion del xml con los datos del cliente
        tippy('#txtNombre', {
            content: 'Info del Cliente',
            animation: 'shift-away',
            interactive: true,
            arrow: false,
            duration: 1000.
        });

        var cliente = @Html.Raw(Json.Encode(ViewBag.cliente));
        debugger;
        // recorre objeto e imprime el nombre de la propiedad y su valor
        Object.keys(cliente).forEach(k => {
            console.log(k, cliente[k]);

            switch (k) {
                case 'PaisID':
                case 'EstID':
                    $(`#` + k + ` option[value='${cliente[k]}']`).prop('selected', true);
                    break;

                case 'CliRelAABCli':
                case 'CliRelAAPro':
                case 'CliRelAABPag':
                case 'CliRelAABDes':
                case 'CliManejosEsp':
                case 'CliPITEX':
                case 'CliMaquiladora':
                case 'CliEnvaMatriz':
                case 'CliRegla8a':
                case 'ActaConstitutiva':
                case 'ActivarPS':
                case 'ActivarR8va':
                case 'CliActivo':
                    cliente[k] === true ? $('#' + k + '').prop("checked", true) : $('#' + k + '').prop("checked", false);
                    break;

                case 'CLIENTE':
                    break;

                default:
                    $("input[id='" + k + "']").val(cliente[k]);
                    break;
            }
        });

        //#region Código anterior
        ////#region Datos generales
        //$('#idCliente').val(cliente.CLIENTE);
        //$("input[id='txtNombre']").val(cliente.NOMBRE);
        //$("input[id='txtDireccion']").val(cliente.DIRECCION);
        //$("input[id='txtNumInt']").val(cliente.ClieNumInt);
        //$("input[id='txtNumExt']").val(cliente.ClieNumExt);
        //$("input[id='txtCiudad']").val(cliente.CIUDAD);

        //$(`#ddlPais option[value='${cliente.PaisID}']`).prop('selected', true);
        //$(`#ddlEstado option[value='${cliente.EstID}']`).prop('selected', true);

        //$("input[id='txtCP']").val(cliente.CliCodPost);
        //$("input[id='txtRFC']").val(cliente.CliRFC);
        //$("input[id='txtSSN']").val(cliente.CliSSN);
        //$("input[id='txtIRS']").val(cliente.CliIRS);
        //$("input[id='txtTelefono']").val(cliente.TELEFONO);
        //$("input[id='txtTelefono2']").val(cliente.Telefono2);
        //$("input[id='txtURL']").val(cliente.URL);
        //$("input[id='txtFAX']").val(cliente.FAX);
        ////#endregion

        ////#region Otros datos
        //$("input[id='txtCliDesde']").val(cliente.CliDesde);
        //$("input[id='txtCliManejosEx']").val(cliente.CliManejosEx);
        //$("input[id='txtCliServCompEx']").val(cliente.CliServCompEx);
        //$("input[id='txtCliServCompIm']").val(cliente.CliServCompIm);
        //$("input[id='txtCliHandlingIm']").val(cliente.CliHandlingIm);
        //$("input[id='txtCliAcumTransAñoP']").val(cliente.CliAcumTransAñoP);
        //$("input[id='txtCliAcumTransAñoD']").val(cliente.CliAcumTransAñoD);
        //$("input[id='txtCliAcumPesos']").val(cliente.CliAcumPesos);
        //$("input[id='txtCliAcumDolar']").val(cliente.CliAcumDolar);
        //$("input[id='txtCliPagaPesos']").val(cliente.CliPagaPesos);
        //$("input[id='txtCliPagaDolar']").val(cliente.CliPagaDolar);
        //$("input[id='txtCliTotTrans']").val(cliente.CliTotTrans);
        ////#endregion

        ////#region Mas datos
        //$("input[id='txtTabID']").val(cliente.TabID);
        //$("input[id='txtTabIDImp']").val(cliente.TabIDImp);
        //$("input[id='txtTabIDCtaAm']").val(cliente.TabIDCtaAm);
        //$("input[id='txtTipPtoID']").val(cliente.TipPtoID);
        //$("input[id='txtTipPtoID1']").val(cliente.TipPtoID1);
        //cliente.CliRelAABCli === true ? $('#chbCliRelAABCli').prop("checked", true) : $('#chbCliRelAABCli').prop("checked", false);
        //cliente.CliRelAAPro === true ? $('#chbCliRelAABPro').prop("checked", true) : $('#chbCliRelAABPro').prop("checked", false);
        //cliente.CliRelAABPag === true ? $('#chbCliRelAABPag').prop("checked", true) : $('#chbCliRelAABPag').prop("checked", false);
        //cliente.CliRelAABDes === true ? $('#chbCliRelAABDes').prop("checked", true) : $('#chbCliRelAABDes').prop("checked", false);
        //cliente.CliManejosEsp === true ? $('#chbCliManejosEsp').prop("checked", true) : $('#chbCliManejosEsp').prop("checked", false);
        //$("input[id='txtCliFactA']").val().trim();
        //$("input[id='txtCliViaMensajes']").val().trim();
        //$("input[id='txtCliFacDescuento']").val().trim();

        //$("input[id='txtCliFactHonorarios']").val().trim();
        //$("input[id='txtCliFactHonorariosImp']").val().trim();
        //$("input[id='txtRegOrigId']").val().trim();
        //$("input[id='txtMetValID']").val().trim();
        //cliente.CliPITEX === true ? $('#chbCliPITEX').prop("checked", true) : $('#chbCliPITEX').prop("checked", false);
        //cliente.CliMaquiladora === true ? $('#chbCliMaquiladora').prop("checked", true) : $('#chbCliMaquiladora').prop("checked", false);
        //cliente.CliEnvaMatriz === true ? $('#chbCliEnvaMatriz').prop("checked", true) : $('#chbCliEnvaMatriz').prop("checked", false);
        //cliente.CliRegla8a === true ? $('#chbCliRegla8a').prop("checked", true) : $('#chbCliRegla8a').prop("checked", false);
        //$("input[id='txtCliPasswordInternet']").val().trim();
        //$("input[id='txtCliFraccionR8a']").val().trim();
        ////#endregion

        ////#region y mas datos
        //$("input[id='txtCliColonia']").val().trim();
        //$("input[id='txtCliEsquina']").val().trim();
        //$("input[id='txtCliSector']").val().trim();
        //$("input[id='txtImpAraID']").val().trim();
        //$("input[id='txtIDProSec']").val().trim();
        //$("input[id='txtNumClienteTFM']").val().trim();
        //cliente.ActaConstitutiva === true ? $('#chbActaConstitutiva').prop("checked", true) : $('#chbActaConstitutiva').prop("checked", false);
        //$("input[id='chbCIF']").val().trim();
        //$("input[id='chbR1-SHCP']").val().trim();
        //$("input[id='txtCURP']").val().trim();
        //$("input[id='txtAgrupCliCtaMex']").val().trim();
        //$("input[id='txtAgrupCliCtaAm']").val().trim();
        //$("input[id='txtAgrupCliFede']").val().trim();
        //$("input[id='txtAltaPor']").val().trim();
        //$("input[id='txtFHAltaPor']").val().trim();
        //$("#txtCliObs").val().trim();
        //$("input[id='txtActualizo']").val().trim();
        //$("input[id='txtFHActualizo']").val().trim();
        //$("input[id='txtNombreCorto']").val().trim();
        //cliente.ActivarPS === true ? $('#chbActivarPS').prop("checked", true) : $('#chbActivarPS').prop("checked", false);
        //cliente.ActivarR8va === true ? $('#chbActivarR8va').prop("checked", true) : $('#chbActivarR8va').prop("checked", false);
        //cliente.CliActivo === true ? $('#chbCliActivo').prop("checked", true) : $('#chbCliActivo').prop("checked", false);
        ////#endregion
        //#endregion
    </script>

}
