
<input hidden id="idCliente" value="0" />

<div id="" class="container-fluid">
    @* Datos generales *@
    <div class="row">
        <div class="col-md-12">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Datos Generales</h3>
                    <div class="card-tools">
                        <button class="btn btn-tool" type="button" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="txtNombre">Nombre:</label>
                        <input type="text" id="txtNombre" placeholder="Nombre Empresa SA de CV" class="form-control" />
                    </div>
                    <div class="row">
                        <div class="col form-group">
                            <label for="txtDireccion">Direccion:</label>
                            <input type="text" id="txtDireccion" placeholder="Calle Nombre" class="form-control" />
                        </div>
                        <div class="col form-group">
                            <label for="txtNumInt">Número Interior:</label>
                            <input type="text" id="txtNumInt" placeholder="Local A" class="form-control" />
                        </div>
                        <div class="col form-group">
                            <label for="txtNumInt">Número Exterior:</label>
                            <input type="text" id="txtNumExt" placeholder="4556" class="form-control" />
                        </div>
                        <div class="col form-group">
                            <label>CliColonia</label>
                            <input type="text" id="txtCliColonia" value="" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col form-group">
                            <label for="ddlPais">País:</label>
                            <select id="ddlPais" class="form-control">
                                <option value="">Seleccionar</option>
                                @foreach (Paises item in ViewBag.lpai)
                                {
                                    <option value="@item.PaisIDSAIIM3">@item.PaisNombre</option>
                                }
                            </select>
                        </div>
                        <div class="col form-group">
                            <label for="ddlEstado">Estado:</label>
                            <select id="ddlEstado" class="form-control">
                                <option value="">Seleccionar</option>
                                @foreach (Estados item in ViewBag.lest)
                                {
                                    <option value="@item.EstID">@item.EstNombre</option>
                                }
                            </select>
                        </div>
                        <div class="col form-group">
                            <label for="ddlCiudad">Ciudad:</label>
                            <input type="text" id="txtCiudad" placeholder="Ciudad Nombre" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col form-group">
                            <label for="txtCP">CP:</label>
                            <input type="text" id="txtCP" placeholder="00000" class="form-control" />
                        </div>
                        <div class="col form-group">
                            <label for="txtRFC">RFC:</label>
                            <input type="text" id="txtRFC" placeholder="XAXX010101000" class="form-control" />
                        </div>
                        <div class="col form-group">
                            <label for="txtNSS">SSN:</label>
                            <input type="text" id="txtSSN" placeholder="00000000000" class="form-control" />
                        </div>
                        <div class="col form-group">
                            <label for="txtIRS">IRS:</label>
                            <input type="text" id="txtIRS" class="form-control" />
                        </div>
                        <div class="col form-group">
                            <label for="txtCURP">CURP</label>
                            <input type="text" id="txtCURP" value="" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col form-group">
                            <label for="txtTelefono">Teléfono:</label>
                            <div class="input-group">
                                <input type="text" id="txtTelefono" placeholder="(___) ___-____" class="form-control" data-inputmask='"mask": "(999) 999-9999"' data-mask />
                            </div>
                        </div>
                        <div class="col form-group">
                            <label for="txtTelefono2">Teléfono 2:</label>
                            <div class="input-group">
                                <input type="text" id="txtTelefono2" placeholder="(___) ___-____" class="form-control" data-inputmask='"mask": "(999) 999-9999"' data-mask />
                            </div>
                        </div>
                        <div class="col form-group">
                            <label for="txtURL">URL:</label>
                            <input type="text" id="txtURL" placeholder="www.midomino.com" class="form-control" />
                        </div>
                        <div class="col form-group">
                            <label for="txtFAX">FAX:</label>
                            <input type="text" id="txtFAX" placeholder="(___) ___-____" class="form-control" data-inputmask='"mask": "(999) 999-9999"' data-mask />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col form-group">
                            <label for="txtAgrupCliCtaMex">AgrupCliCtaMex</label>
                            <input type="text" id="txtAgrupCliCtaMex" value="" class="form-control" />
                        </div>
                        <div class="col form-group">
                            <label for="txtAgrupCliCtaAm">AgrupCliCtaAm</label>
                            <input type="text" id="txtAgrupCliCtaAm" value="" class="form-control" />
                        </div>
                        <div class="col form-group">
                            <label for="txtAltaPor">AltaPor</label>
                            <input type="text" id="txtAltaPor" value="" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @* Otros datos *@
    <div id="otrosdatos" class="row">
        <div class="col-md-12">
            <div class="card card-primary collapsed-card">
                <div class="card-header">
                    <h3 class="card-title">Otros datos</h3>
                    <div class="card-tools">
                        <button class="btn btn-tool" type="button" data-card-widget="collapse">
                            <i class="fas fa-plus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body collapse">
                    <div class="row">
                        <div class="col form-group">
                            <label for="lblCliDesde">Cliente desde:</label>
                            <input type="text" id="txtCliDesde" class="datep form-control" />
                        </div>
                        <div class="col form-group">
                            <label for="txtCliManejosEx">CliManejosEx:</label>
                            <input type="text" id="txtCliManejosEx" placeholder="0" class="number form-control" />
                        </div>
                        <div class="col form-group">
                            <label for="txtCliServCompEx">CliServCompEx:</label>
                            <input type="text" id="txtCliServCompEx" placeholder="0" class="number form-control" />
                        </div>
                        <div class="col form-group">
                            <label for="txtCliServCompIm">CliServCompIm:</label>
                            <input type="text" id="txtCliServCompIm" placeholder="0" class="number form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col form-group">
                            <label>CliHandlingIm:</label>
                            <input type="text" id="txtCliHandlingIm" placeholder="0" class="form-control" />
                        </div>
                        <div class="col form-group">
                            <label>CliAcumTransAñoP:</label>
                            <input type="text" id="txtCliAcumTransAñoP" placeholder="0" class="number form-control" />
                        </div>
                        <div class="col form-group">
                            <label>CliAcumTransAñoD:</label>
                            <input type="text" id="txtCliAcumTransAñoD" placeholder="0" class="number form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col form-group">
                            <label>CliAcumPesos</label>
                            <input type="text" id="txtCliAcumPesos" placeholder="$ 0.00" class="money form-control text-right" />
                        </div>
                        <div class="col form-group">
                            <label>CliAcumDolar</label>
                            <input type="text" id="txtCliAcumDolar" placeholder="$ 0.00" class="money form-control text-right" />
                        </div>
                        <div class="col form-group">
                            <label>CliPagaPesos</label>
                            <input type="text" id="txtCliPagaPesos" placeholder="$ 0.00" class="money form-control text-right" />
                        </div>
                        <div class="col form-group">
                            <label>CliPagaDolar</label>
                            <input type="text" id="txtCliPagaDolar" placeholder="$ 0.00" class="money form-control text-right" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label>CliTotTrans</label>
                            <input type="number" id="txtCliTotTrans" placeholder="0" class="number form-control" />
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    @* Mas datos *@
    <div class="row">
        <div class="col-md-12">
            <div class="card card-primary collapsed-card">
                <div class="card-header">
                    <h3 class="card-title">Texto</h3>
                    <div class="card-tools">
                        <button class="btn btn-tool" type="button" data-card-widget="collapse">
                            <i class="fas fa-plus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body collapse">
                    <div class="row">
                        <div class="col form-group">
                            <label>TabID</label>
                            <input type="number" id="txtTabID" placeholder="0.00" class="number form-control" />
                        </div>
                        <div class="col form-group">
                            <label>TabIDImp</label>
                            <input type="number" id="txtTabIDImp" placeholder="0.00" class="number form-control" />
                        </div>
                        <div class="col form-group">
                            <label>TabIDCtaAm</label>
                            <input type="number" id="txtTabIDCtaAm" placeholder="0.00" class="number form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col form-group">
                            <label>TipPtoID</label>
                            <input type="text" id="txtTipPtoID" placeholder="" class="form-control" />
                        </div>
                        <div class="col form-group">
                            <label>TipPtoID1</label>
                            <input type="text" id="txtTipPtoID1" placeholder="" class="form-control" />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col form-group">
                            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                <input type="checkbox" id="chbCliRelAABCli" class="custom-control-input" />
                                <label class="custom-control-label" for="chbCliRelAABCli">CliRelAABCli</label>
                            </div>
                        </div>
                        <div class="col form-group">
                            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                <input type="checkbox" id="chbCliRelAABPro" class="custom-control-input" />
                                <label class="custom-control-label" for="chbCliRelAABPro">CliRelAABPro</label>
                            </div>
                        </div>
                        <div class="col form-group">
                            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                <input type="checkbox" id="chbCliRelAABPag" class="custom-control-input" />
                                <label class="custom-control-label" for="chbCliRelAABPag">CliRelAABPag</label>
                            </div>
                        </div>
                        <div class="col form-group">
                            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                <input type="checkbox" id="chbCliRelAABDes" class="custom-control-input" />
                                <label class="custom-control-label" for="chbCliRelAABDes">CliRelAABDes</label>
                            </div>
                        </div>
                        <div class="col form-group">
                            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                <input type="checkbox" id="chbCliManejosEsp" class="custom-control-input" />
                                <label class="custom-control-label" for="chbCliManejosEsp">CliManejosEsp</label>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col form-group">
                            <label for="txtCliFactA">CliFactA:</label>
                            <input type="text" id="txtCliFactA" placeholder="" class="form-control" />
                        </div>
                        <div class="col form-group">
                            <label for="txtCliViaMensajes">CliViaMensajes:</label>
                            <input type="text" id="txtCliViaMensajes" placeholder="0" class="number form-control" />
                        </div>
                        <div class="col form-group">
                            <label for="txtCliFacDescuento">CliFacDescuento:</label>
                            <input type="number" id="txtCliFacDescuento" placeholder="0.0" class="number form-control" />
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    @* datos *@
    <div class="row">
        <div class="col-md-12">
            <div class="card card-primary collapsed-card">
                <div class="card-header">
                    <h3 class="card-title">Texto</h3>
                    <div class="card-tools">
                        <button class="btn btn-tool" type="button" data-card-widget="collapse">
                            <i class="fas fa-plus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body collapse">
                    <div class="row">
                        <div class="col form-group">
                            <label>CliFactHonorarios:</label>
                            <input type="number" id="txtCliFactHonorarios" placeholder="0.0" class="number form-control" />
                        </div>
                        <div class="col form-group">
                            <label>CliFactHonorariosImp:</label>
                            <input type="number" id="txtCliFactHonorariosImp" placeholder="0.0" class="number form-control" />
                        </div>
                        <div class="col form-group">
                            <label for="txtRegOrigId">RegOrigId</label>
                            <input type="text" id="txtRegOrigId" placeholder="" class="form-control" />
                        </div>
                        <div class="col form-group">
                            <label>MetValID</label>
                            <input type="text" id="txtMetValID" placeholder="" class="form-control" />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col form-group">
                            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                <input type="checkbox" id="chbCliPITEX" class="custom-control-input" />
                                <label class="custom-control-label" for="chbCliPITEX">CliPITEX</label>
                            </div>
                        </div>
                        <div class="col form-group">
                            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                <input type="checkbox" id="chbCliMaquiladora" class="custom-control-input" />
                                <label class="custom-control-label" for="chbCliMaquiladora">CliMaquiladora</label>
                            </div>
                        </div>
                        <div class="col form-group">
                            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                <input type="checkbox" id="chbCliEnvaMatriz" class="custom-control-input" />
                                <label class="custom-control-label" for="chbCliEnvaMatriz">CliEnvaMatriz</label>
                            </div>
                        </div>
                        <div class="col form-group">
                            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                <input type="checkbox" id="chbCliRegla8a" class="custom-control-input" />
                                <label class="custom-control-label" for="chbCliRegla8a">CliRegla8a</label>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col form-group">
                            <label for="txtCliPasswordInternet">CliPasswordInternet</label>
                            <input type="text" id="txtCliPasswordInternet" value="" class="form-control" />
                        </div>
                        <div class="col form-group">
                            <label for="txtCliFraccionR8a">CliFraccionR8a</label>
                            <input type="text" id="txtCliFraccionR8a" value="" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @* y más datos *@
    <div class="row">
        <div class="col-md-12">
            <div class="card card-primary collapsed-card">
                <div class="card-header">
                    <h3 class="card-title">Texto</h3>
                    <div class="card-tools">
                        <button class="btn btn-tool" type="button" data-card-widget="collapse">
                            <i class="fas fa-plus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body collapse">
                    <div class="row">
                        <div class="col form-group">
                            <label form="CliEsquina">CliEsquina</label>
                            <input type="text" id="txtCliEsquina" value="" class="form-control" />
                        </div>
                        <div class="col form-group">
                            <label for="CliSector">CliSector</label>
                            <input type="number" id="txtCliSector" placeholder="0" class="number form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col form-group">
                            <label>ImpAraID</label>
                            <input type="text" id="txtImpAraID" value="" class="form-control" />
                        </div>
                        <div class="col form-group">
                            <label>IDProSec</label>
                            <input type="text" id="txtIDProSec" value="" class="form-control" />
                        </div>
                        <div class="col form-group">
                            <label>NumClienteTFM</label>
                            <input type="text" id="txtNumClienteTFM" value="" class="form-control" />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col form-group">
                            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                <input type="checkbox" id="chbActaConstitutiva" class="custom-control-input" />
                                <label class="custom-control-label" for="chbActaConstitutiva">ActaConstitutiva</label>
                            </div>
                        </div>
                        <div class="col form-group">
                            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                <input type="checkbox" id="chbCIF" class="custom-control-input" />
                                <label class="custom-control-label" for="chbCIF">CIF</label>
                            </div>
                        </div>
                        <div class="col form-group">
                            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                <input type="checkbox" id="chbR1-SHCP" class="custom-control-input" />
                                <label class="custom-control-label" for="chbR1-SHCP">R1-SHCP</label>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col form-group">
                            <label for="txtAgrupCliFede">AgrupCliFede</label>
                            <input type="text" id="txtAgrupCliFede" value="" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col form-group">
                            <label for="txtFHAltaPor">FHAltaPor</label>
                            <input type="text" id="txtFHAltaPor" value="" class="datep form-control" />
                        </div>
                        <div class="col form-group">
                            <label for="txtActualizo">Actualizo</label>
                            <input type="text" id="txtActualizo" value="" class="form-control" />
                        </div>
                        <div class="col form-group">
                            <label for="txtFHActualizo">FHActualizo</label>
                            <input type="text" id="txtFHActualizo" value="" class="datep form-control" />
                        </div>
                        <div class="col form-group">
                            <label for="txtNombreCorto">NombreCorto</label>
                            <input type="text" id="txtNombreCorto" value="" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col form-group">
                            <label for="txtCliObs">CliObs</label>
                            <textarea id="txtCliObs" class="form-control" placeholder="Observaciones sobre el cliente"></textarea>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col form-group">
                            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                <input type="checkbox" id="chbActivarPS" class="custom-control-input" />
                                <label class="custom-control-label" for="chbActivarPS">ActivarPS</label>
                            </div>
                        </div>
                        <div class="col form-group">
                            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                <input type="checkbox" id="chbActivarR8va" class="custom-control-input" />
                                <label class="custom-control-label" for="chbActivarR8va">ActivarR8va</label>
                            </div>
                        </div>
                        <div class="col form-group">
                            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                <input type="checkbox" id="chbCliActivo" class="custom-control-input" />
                                <label class="custom-control-label" for="chbCliActivo">CliActivo</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-block btn-dark btn-lg" type="submit" id="btnGuardaCli">Guardar</button>
        </div>
    </div>
</div>
<script src="~/popperjs/core/dist/umd/popper.min.js"></script>
<script src="~/tippy.js/dist/tippy-bundle.umd.js"></script>
<link href="~/tippy.js/animations/shift-away.css" rel="stylesheet" />

<link href="~/tippy.js/animations/scale.css" rel="stylesheet" />
<link href="~/tippy.js/dist/tippy.css" rel="stylesheet" />

@*<script src="~/plugins/inputmask/inputmask.min.js"></script>*@
<script src="~/plugins/inputmask/jquery.inputmask.min.js"></script>
<script src="~/plugins/moment/moment.min.js"></script>

<!--INSERTAR CLIENTE-->
<script>
    $(document).ready(function () {

        $('.loader').hide();
        $('#container').show();

        $('.datep').datepicker({
            changeMonth: true,
            changeYear: true,
            format: "yyyy-mm-dd",
            language: "es"
        });
        $('#txtTelefono').inputmask();
        $('#txtTelefono2').inputmask();
        $('#txtFAX').inputmask();
        $(".money").inputmask({ alias: "currency", prefix: '$ ' });
    });

    $('#ddlPais').on('change', function() {
        var Paisid = $("#ddlPais option:selected").val();
        //const data = new FormData();
        //$('#ddlEstado').append(optionhtml).selectpicker('refresh');

        $.ajax({
            type: "POST",
            url: '@Url.Action("LlenaEstados", "Clientes")',
            data: { Paisid: Paisid },
            dataType: "json",
            success: function (data) {
                if (data.error) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Hubo un problema',
                        text: response.message,
                        footer: '<br> Si el problema persiste, comuníquese a sistemas@zayro.com junto con la pantalla de error.'
                    });
                }
                else {
                    $("#ddlEstado").empty();
                    $.each(data, function (val, text) {
                        $('#ddlEstado').append($('<option>', {
                            value: text.EstID,
                            text: text.EstNombre
                        }));
                    });
                }
            },
            error: function () {
                alert(message);
            }
        });
    });

    $('#btnGuardaCli').click(function (e) {
        e.preventDefault();

        //#region Datos generales
        var Nombre = $("input[id='txtNombre']").val().trim();
        var Direccion = $("input[id='txtDireccion']").val().trim();
        var NumInt = $("input[id='txtNumInt']").val().trim();
        var NumExt = $("input[id='txtNumExt']").val().trim();
        var Ciudad = $("input[id='txtCiudad']").val().trim();
        var Estado = $("#ddlEstado option:selected").val();
        var Pais = $("#ddlPais option:selected").val();
        var CP = $("input[id='txtCP']").val().trim();
        var RFC = $("input[id='txtRFC']").val().trim();
        var SSN = $("input[id='txtSSN']").val().trim();
        var IRS = $("input[id='txtIRS']").val().trim();
        var Telefono = $("input[id='txtTelefono']").val().trim();
        var Telefono2 = $("input[id='txtTelefono2']").val().trim();
        var URL = $("input[id='txtURL']").val().trim();
        var FAX = $("input[id='txtFAX']").val().trim();
        //#endregion

        //#region Otros datos
        var CliDesde = $("input[id='txtCliDesde']").val().trim();
        var CliManejosEx = $("input[id='txtCliManejosEx']").val().trim();
        var CliServCompEx = $("input[id='txtCliServCompEx']").val().trim();
        var CliServCompIm = $("input[id='txtCliServCompIm']").val().trim();
        var CliHandlingIm = $("input[id='txtCliHandlingIm']").val().trim();
        var CliAcumTransAñoP = $("input[id='txtCliAcumTransAñoP']").val().trim();
        var CliAcumTransAñoD = $("input[id='txtCliAcumTransAñoD']").val().trim();
        var acumpe = $("input[id='txtCliAcumPesos']").val();
        var CliAcumPesos = Number(acumpe.replace(/[^0-9.-]+/g, ""));
        var acumdo = $("input[id='txtCliAcumDolar']").val();
        var CliAcumDolar = Number(acumdo.replace(/[^0-9.-]+/g, ""));
        var pagape = $("input[id='txtCliPagaPesos']").val();
        var CliPagaPesos = Number(pagape.replace(/[^0-9.-]+/g, ""));
        var pagado = $("input[id='txtCliPagaDolar']").val();
        var CliPagaDolar = Number(pagado.replace(/[^0-9.-]+/g, ""));
        var CliTotTrans = $("input[id='txtCliTotTrans']").val().trim();
        //#endregion

        //#region Mas datos
        var TabID = $("input[id='txtTabID']").val().trim();
        var TabIDImp = $("input[id='txtTabIDImp']").val().trim();
        var TabIDCtaAm = $("input[id='txtTabIDCtaAm']").val().trim();
        var TipPtoID = $("input[id='txtTipPtoID']").val().trim();
        var TipPtoID1 = $("input[id='txtTipPtoID1']").val().trim();
        var CliRelAABCli = $("#chbCliRelAABCli").attr("checked") ? 1 : 0;
        var CliRelAAPro = $("#chbCliRelAABPro").attr("checked") ? 1 : 0;
        var CliRelAABPag = $("#chbCliRelAABPag").attr("checked") ? 1 : 0;
        var CliRelAABDes = $("#chbCliRelAABDes").attr("checked") ? 1 : 0;
        var CliManejosEsp = $("#chbCliManejosEsp").attr("checked") ? 1 : 0;
        var CliFactA = $("input[id='txtCliFactA']").val().trim();
        var CliViaMensajes = $("input[id='txtCliViaMensajes']").val().trim();
        var CliFacDescuento = $("input[id='txtCliFacDescuento']").val().trim();

        var CliFactHonorarios = $("input[id='txtCliFactHonorarios']").val().trim();
        var CliFactHonorariosImp = $("input[id='txtCliFactHonorariosImp']").val().trim();
        var RegOrigId = $("input[id='txtRegOrigId']").val().trim();
        var MetValID = $("input[id='txtMetValID']").val().trim();
        var CliPITEX = $("#chbCliPITEX").attr("checked") ? 1 : 0;
        var CliMaquiladora = $("#chbCliMaquiladora").attr("checked") ? 1 : 0;
        var CliEnvaMatriz = $("#chbCliEnvaMatriz").attr("checked") ? 1 : 0;
        var CliRegla8a = $("#chbCliRegla8a").attr("checked") ? 1 : 0;
        var CliPasswordInternet = $("input[id='txtCliPasswordInternet']").val().trim();
        var CliFraccionR8a = $("input[id='txtCliFraccionR8a']").val().trim();
        //#endregion

        //#region y mas datos
        var CliColonia = $("input[id='txtCliColonia']").val().trim();
        var CliEsquina = $("input[id='txtCliEsquina']").val().trim();
        var CliSector = $("input[id='txtCliSector']").val().trim();
        var ImpAraID = $("input[id='txtImpAraID']").val().trim();
        var IDProSec = $("input[id='txtIDProSec']").val().trim();
        var NumClienteTFM = $("input[id='txtNumClienteTFM']").val().trim();
        var ActaConstitutiva = $("#chbActaConstitutiva").attr("checked") ? 1 : 0;
        var CIF = $("input[id='chbCIF']").val().trim();
        var R1SHCP = $("input[id='chbR1-SHCP']").val().trim();
        var CURP = $("input[id='txtCURP']").val().trim();
        var AgrupCliCtaMex = $("input[id='txtAgrupCliCtaMex']").val().trim();
        var AgrupCliCtaAm = $("input[id='txtAgrupCliCtaAm']").val().trim();
        var AgrupCliFede = $("input[id='txtAgrupCliFede']").val().trim();
        var AltaPor = $("input[id='txtAltaPor']").val().trim();
        var FHAltaPor = $("input[id='txtFHAltaPor']").val().trim();
        var CliObs = $("#txtCliObs").val().trim();
        var Actualizo = $("input[id='txtActualizo']").val().trim();
        var FHActualizo = $("input[id='txtFHActualizo']").val().trim();
        var NombreCorto = $("input[id='txtNombreCorto']").val().trim();
        var ActivarPS = $("#chbActivarPS").attr("checked") ? 1 : 0;
        var ActivarR8va = $("#chbActivarR8va").attr("checked") ? 1 : 0;
        var CliActivo = $("#chbCliActivo").attr("checked") ? 1 : 0;
        //#endregion

        const data = new FormData();

        //#region Datos generales
        data.append("NOMBRE", Nombre);
        data.append("DIRECCION", Direccion);
        data.append("ClieNumInt", NumInt);
        data.append("ClieNumExt", NumExt);
        data.append("CIUDAD", Ciudad);
        data.append("EstID", Estado);
        data.append("PaisID", Pais);
        data.append("CliCodPost", CP);
        data.append("CliRFC", RFC);
        data.append("CliSSN", SSN);
        data.append("CliIRS", IRS);
        data.append("TELEFONO", Telefono);
        data.append("Telefono2", Telefono2);
        data.append("URL", URL);
        data.append("FAX", FAX);
        //#endregion

        //#region Otros datos
        data.append("CliDesde", CliDesde);
        data.append("CliManejosEx", CliManejosEx);
        data.append("CliServCompEx", CliServCompEx);
        data.append("CliServCompIm", CliServCompIm);
        data.append("CliHandlingIm", CliHandlingIm);
        data.append("CliAcumTransAñoP", CliAcumTransAñoP);
        data.append("CliAcumTransAñoD", CliAcumTransAñoD);
        data.append("CliAcumPesos", CliAcumPesos);
        data.append("CliAcumDolar", CliAcumDolar);
        data.append("CliPagaPesos", CliPagaPesos);
        data.append("CliPagaDolar", CliPagaDolar);
        data.append("CliTotTrans", CliTotTrans);
        //#endregion

        //#region datos
        data.append("TabID", TabID);
        data.append("TabIDImp", TabIDImp);
        data.append("TabIDCtaAm", TabIDCtaAm);
        data.append("TipPtoID", TipPtoID);
        data.append("TipPtoID1", TipPtoID1);
        data.append("CliRelAABCli", CliRelAABCli);
        data.append("CliRelAABPro", CliRelAAPro);
        data.append("CliRelAABPag", CliRelAABPag);
        data.append("CliRelAABDes", CliRelAABDes);
        data.append("CliFactA", CliFactA);
        data.append("CliViaMensajes", CliViaMensajes);
        data.append("CliFacDescuento", CliFacDescuento);
        data.append("CliManejosEsp", CliManejosEsp);
        data.append("CliFactHonorarios", CliFactHonorarios);
        data.append("CliFactHonorariosImp", CliFactHonorariosImp);
        data.append("RegOrigId", RegOrigId);
        data.append("MetValID", MetValID);
        data.append("CliPITEX", CliPITEX);
        data.append("CliMaquiladora", CliMaquiladora);
        data.append("CliPasswordInternet", CliPasswordInternet);
        data.append("CliEnvaMatriz", CliEnvaMatriz);
        data.append("CliRegla8a", CliRegla8a);
        data.append("CliFraccionR8a", CliFraccionR8a);
        //#endregion

        //#region y más datos
        data.append("CliColonia", CliColonia);
        data.append("CliEsquina", CliEsquina);
        data.append("CliSector", CliSector);
        data.append("ImpAraID", ImpAraID);
        data.append("IDProSec", IDProSec);
        data.append("NumClienteTFM", NumClienteTFM);
        data.append("ActaConstitutiva", ActaConstitutiva);
        data.append("CIF", CIF);
        data.append("CURP", CURP);
        data.append("R1-SHCP", R1SHCP);
        data.append("AgrupCliCtaMex", AgrupCliCtaMex);
        data.append("AgrupCliCtaAm", AgrupCliCtaAm);
        data.append("AgrupCliFede", AgrupCliFede);
        data.append("AltaPor", AltaPor);
        data.append("FHAltaPor", FHAltaPor);
        data.append("CliObs", CliObs);
        data.append("Actualizo", Actualizo);
        data.append("FHActualizo", FHActualizo);
        data.append("NombreCorto", NombreCorto);
        data.append("ActivarPS", ActivarPS);
        data.append("ActivarR8va", ActivarR8va);
        data.append("CliActivo", CliActivo);
        //#endregion

        //Cliente ID
        var clienteID = $('#idCliente').val()

        if (clienteID == 0) {

            $.ajax({
                url: "@Url.Action("ClienteInserta", "Clientes")", // Url
                type: "Post",  // Verbo HTTP
                data: data,
                // Si vas a utilizar “formData” para crear el objeto que enviaras, es muy importante incluir estos
                processData: false, contentType: false,
                success: function (response) {
                    if (response.error) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Hubo un problema',
                            text: response.message,
                            footer: '<br> Si el problema persiste, comuníquese a sistemas@zayro.com junto con la pantalla de error.'
                        });
                    }
                    else {
                        Swal.fire({
                            title: '¡Cliente listo!',
                            confirmButtonText: 'Excelente',
                        }).then((result) => {
                            //Esto redirecciona a una vista diferente
                        @*window.location.href = '@Url.Action("ClienteAlta", "Dashboard")';*@
                        });
                    }
                }
            });

        }
        else {

            data.append("CLIENTE", clienteID);

            $.ajax({
                url: "@Url.Action("ClienteModifica", "Clientes")", // Url
                type: "Post",  // Verbo HTTP
                data: data,
                // Si vas a utilizar “formData” para crear el objeto que enviaras, es muy importante incluir estos
                processData: false, contentType: false,
                success: function (response) {
                    if (response.error) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Hubo un problema',
                            text: response.message,
                            footer: '<br> Si el problema persiste, comuníquese a sistemas@zayro.com junto con la pantalla de error.'
                        });
                    }
                    else {
                        Swal.fire({
                            title: '¡Cliente en listo!',
                            confirmButtonText: 'Excelente',
                        }).then((result) => {
                            //Esto redirecciona a una vista diferente
                        @*window.location.href = '@Url.Action("ClienteAlta", "Dashboard")';*@
                        });
                    }
                }
            });
        }

    });

</script>

<!--CARGAR CLIENTE-->
@if (ViewBag.cliente != null)
{
    <script>
        var tipo = '@Session["tipo"]';

        // Limita a los usuarios de solo Lectura
        if (tipo == 'L') {
            // oculta div de otros datos
            //$('#otrosdatos').hide();

            //#region Datos generales
            $("input[id='txtNombre']").prop('disabled', true);
            $("input[id='txtNombre']").prop('disabled', true);
            $("input[id='txtDireccion']").prop('disabled', true);
            $("input[id='txtNumInt']").prop('disabled', true);
            $("input[id='txtNumExt']").prop('disabled', true);
            $("input[id='txtCiudad']").prop('disabled', true);
            $("#ddlEstado").prop('disabled', 'disabled');
            $("#ddlPais").prop('disabled', 'disabled');
            $("input[id='txtCP']").prop('disabled', true);
            $("input[id='txtRFC']").prop('disabled', true);
            $("input[id='txtSSN']").prop('disabled', true);
            $("input[id='txtIRS']").prop('disabled', true);
            $("input[id='txtTelefono']").prop('disabled', true);
            $("input[id='txtTelefono2']").prop('disabled', true);
            $("input[id='txtURL']").prop('disabled', true);
            $("input[id='txtFAX']").prop('disabled', true);
            //#endregion

            //#region Otros datos
            $("input[id='txtCliDesde']").prop('disabled', true);
            $("input[id='txtCliManejosEx']").prop('disabled', true);
            $("input[id='txtCliServCompEx']").prop('disabled', true);
            $("input[id='txtCliServCompIm']").prop('disabled', true);
            $("input[id='txtCliHandlingIm']").prop('disabled', true);
            $("input[id='txtCliAcumTransAñoP']").prop('disabled', true);
            $("input[id='txtCliAcumTransAñoD']").prop('disabled', true);
            $("input[id='txtCliAcumPesos']").prop('disabled', true);
            $("input[id='txtCliAcumDolar']").prop('disabled', true);
            $("input[id='txtCliPagaPesos']").prop('disabled', true);
            $("input[id='txtCliPagaDolar']").prop('disabled', true);
            $("input[id='txtCliTotTrans']").prop('disabled', true);
            //#endregion

            //#region Mas datos
            $("input[id='txtTabID']").prop('disabled', true);
            $("input[id='txtTabIDImp']").prop('disabled', true);
            $("input[id='txtTabIDCtaAm']").prop('disabled', true);
            $("input[id='txtTipPtoID']").prop('disabled', true);
            $("input[id='txtTipPtoID1']").prop('disabled', true);
            $("#chbCliRelAABCli").prop('disabled', true);
            $("#chbCliRelAABPro").prop('disabled', true);
            $("#chbCliRelAABPag").prop('disabled', true);
            $("#chbCliRelAABDes").prop('disabled', true);
            $("#chbCliManejosEsp").prop('disabled', true);
            $("input[id='txtCliFactA']").prop('disabled', true);
            $("input[id='txtCliViaMensajes']").prop('disabled', true);
            $("input[id='txtCliFacDescuento']").prop('disabled', true);

            $("input[id='txtCliFactHonorarios']").prop('disabled', true);
            $("input[id='txtCliFactHonorariosImp']").prop('disabled', true);
            $("input[id='txtRegOrigId']").prop('disabled', true);
            $("input[id='txtMetValID']").prop('disabled', true);
            $("#chbCliPITEX").prop('disabled', true);
            $("#chbCliMaquiladora").prop('disabled', true);
            $("#chbCliEnvaMatriz").prop('disabled', true);
            $("#chbCliRegla8a").prop('disabled', true);
            $("input[id='txtCliPasswordInternet']").prop('disabled', true);
            $("input[id='txtCliFraccionR8a']").prop('disabled', true);
            //#endregion

            //#region y mas datos
            $("input[id='txtCliColonia']").prop('disabled', true);
            $("input[id='txtCliEsquina']").prop('disabled', true);
            $("input[id='txtCliSector']").prop('disabled', true);
            $("input[id='txtImpAraID']").prop('disabled', true);
            $("input[id='txtIDProSec']").prop('disabled', true);
            $("input[id='txtNumClienteTFM']").prop('disabled', true);
            $("#chbActaConstitutiva").prop('disabled', true);
            $("input[id='chbCIF']").prop('disabled', true);
            $("input[id='chbR1-SHCP']").prop('disabled', true);
            $("input[id='txtCURP']").prop('disabled', true);
            $("input[id='txtAgrupCliCtaMex']").prop('disabled', true);
            $("input[id='txtAgrupCliCtaAm']").prop('disabled', true);
            $("input[id='txtAgrupCliFede']").prop('disabled', true);
            $("input[id='txtAltaPor']").prop('disabled', true);
            $("input[id='txtFHAltaPor']").prop('disabled', true);
            $("#txtCliObs").prop('disabled', true);
            $("input[id='txtActualizo']").prop('disabled', true);
            $("input[id='txtFHActualizo']").prop('disabled', true);
            $("input[id='txtNombreCorto']").prop('disabled', true);
            $("#chbActivarPS").prop('disabled', true);
            $("#chbActivarR8va").prop('disabled', true);
            $("input[id='chbCliActivo']").prop('disabled', true);
        //#endregion
        }

        //aqui hay que traer un la informacion del xml con los datos del cliente
        tippy('#txtNombre', {
            content: 'Info del Cliente',
            animation: 'shift-away',
            interactive: true,
            arrow: false,
            duration: 1000.
        });

        var cliente = @Html.Raw(Json.Encode(ViewBag.cliente));

        //#region Datos generales
        $('#idCliente').val(cliente.CLIENTE);
        $("input[id='txtNombre']").val(cliente.NOMBRE);
        $("input[id='txtDireccion']").val(cliente.DIRECCION);
        $("input[id='txtNumInt']").val(cliente.ClieNumInt);
        $("input[id='txtNumExt']").val(cliente.ClieNumExt);
        $("input[id='txtCiudad']").val(cliente.CIUDAD);

        $(`#ddlPais option[value='${cliente.PaisID}']`).prop('selected', true);
        $(`#ddlEstado option[value='${cliente.EstID}']`).prop('selected', true);

        $("input[id='txtCP']").val(cliente.CliCodPost);
        $("input[id='txtRFC']").val(cliente.CliRFC);
        $("input[id='txtSSN']").val(cliente.CliSSN);
        $("input[id='txtIRS']").val(cliente.CliIRS);
        $("input[id='txtTelefono']").val(cliente.TELEFONO);
        $("input[id='txtTelefono2']").val(cliente.Telefono2);
        $("input[id='txtURL']").val(cliente.URL);
        $("input[id='txtFAX']").val(cliente.FAX);
        //#endregion

        //#region Otros datos
        $("input[id='txtCliDesde']").val(cliente.CliDesde);
        $("input[id='txtCliManejosEx']").val(cliente.CliManejosEx);
        $("input[id='txtCliServCompEx']").val(cliente.CliServCompEx);
        $("input[id='txtCliServCompIm']").val(cliente.CliServCompIm);
        $("input[id='txtCliHandlingIm']").val(cliente.CliHandlingIm);
        $("input[id='txtCliAcumTransAñoP']").val(cliente.CliAcumTransAñoP);
        $("input[id='txtCliAcumTransAñoD']").val(cliente.CliAcumTransAñoD);
        $("input[id='txtCliAcumPesos']").val(cliente.CliAcumPesos);
        $("input[id='txtCliAcumDolar']").val(cliente.CliAcumDolar);
        $("input[id='txtCliPagaPesos']").val(cliente.CliPagaPesos);
        $("input[id='txtCliPagaDolar']").val(cliente.CliPagaDolar);
        $("input[id='txtCliTotTrans']").val(cliente.CliTotTrans);
        //#endregion

        //#region Mas datos
        $("input[id='txtTabID']").val(cliente.TabID);
        $("input[id='txtTabIDImp']").val(cliente.TabIDImp);
        $("input[id='txtTabIDCtaAm']").val(cliente.TabIDCtaAm);
        $("input[id='txtTipPtoID']").val(cliente.TipPtoID);
        $("input[id='txtTipPtoID1']").val(cliente.TipPtoID1);
        cliente.CliRelAABCli === true ? $('#chbCliRelAABCli').prop("checked", true) : $('#chbCliRelAABCli').prop("checked", false);
        cliente.CliRelAAPro === true ? $('#chbCliRelAABPro').prop("checked", true) : $('#chbCliRelAABPro').prop("checked", false);
        cliente.CliRelAABPag === true ? $('#chbCliRelAABPag').prop("checked", true) : $('#chbCliRelAABPag').prop("checked", false);
        cliente.CliRelAABDes === true ? $('#chbCliRelAABDes').prop("checked", true) : $('#chbCliRelAABDes').prop("checked", false);
        cliente.CliManejosEsp === true ? $('#chbCliManejosEsp').prop("checked", true) : $('#chbCliManejosEsp').prop("checked", false);
        $("input[id='txtCliFactA']").val().trim();
        $("input[id='txtCliViaMensajes']").val().trim();
        $("input[id='txtCliFacDescuento']").val().trim();

        $("input[id='txtCliFactHonorarios']").val().trim();
        $("input[id='txtCliFactHonorariosImp']").val().trim();
        $("input[id='txtRegOrigId']").val().trim();
        $("input[id='txtMetValID']").val().trim();
        cliente.CliPITEX === true ? $('#chbCliPITEX').prop("checked", true) : $('#chbCliPITEX').prop("checked", false);
        cliente.CliMaquiladora === true ? $('#chbCliMaquiladora').prop("checked", true) : $('#chbCliMaquiladora').prop("checked", false);
        cliente.CliEnvaMatriz === true ? $('#chbCliEnvaMatriz').prop("checked", true) : $('#chbCliEnvaMatriz').prop("checked", false);
        cliente.CliRegla8a === true ? $('#chbCliRegla8a').prop("checked", true) : $('#chbCliRegla8a').prop("checked", false);
        $("input[id='txtCliPasswordInternet']").val().trim();
        $("input[id='txtCliFraccionR8a']").val().trim();
        //#endregion

        //#region y mas datos
        $("input[id='txtCliColonia']").val().trim();
        $("input[id='txtCliEsquina']").val().trim();
        $("input[id='txtCliSector']").val().trim();
        $("input[id='txtImpAraID']").val().trim();
        $("input[id='txtIDProSec']").val().trim();
        $("input[id='txtNumClienteTFM']").val().trim();
        cliente.ActaConstitutiva === true ? $('#chbActaConstitutiva').prop("checked", true) : $('#chbActaConstitutiva').prop("checked", false);
        $("input[id='chbCIF']").val().trim();
        $("input[id='chbR1-SHCP']").val().trim();
        $("input[id='txtCURP']").val().trim();
        $("input[id='txtAgrupCliCtaMex']").val().trim();
        $("input[id='txtAgrupCliCtaAm']").val().trim();
        $("input[id='txtAgrupCliFede']").val().trim();
        $("input[id='txtAltaPor']").val().trim();
        $("input[id='txtFHAltaPor']").val().trim();
        $("#txtCliObs").val().trim();
        $("input[id='txtActualizo']").val().trim();
        $("input[id='txtFHActualizo']").val().trim();
        $("input[id='txtNombreCorto']").val().trim();
        cliente.chbActivarPS === true ? $('#chbActivarPS').prop("checked", true) : $('#chbActivarPS').prop("checked", false);
        cliente.ActivarR8va === true ? $('#chbActivarR8va').prop("checked", true) : $('#chbActivarR8va').prop("checked", false);
        cliente.CliActivo === true ? $('#chbCliActivo').prop("checked", true) : $('#chbCliActivo').prop("checked", false);
        //#endregion

    </script>

}
